* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

.logo {
  font-size: 300%;
  color: #F56400;
  font-family: serif;
  display: inline;
  padding-right: 15px; }

.header {
  border-bottom: 1px solid #E1E3DF;
  padding: 5px 0 20px 0; }
  .header input {
    font-size: 12pt;
    width: 30%;
    display: inline;
    border: 1px solid #ded9d5;
    border-radius: 2px;
    margin-right: -5px;
    padding: 6.5px;
    color: lightgrey;
    box-shadow: inset 0 0 3px #e0dfde; }

.search {
  font-size: 11pt;
  background-color: #34A8C4;
  color: white;
  border-radius: 0 2px 2px 0;
  padding: 8px 15px;
  border: 0; }

.header-right {
  display: inline;
  font-size: 9pt;
  color: #0192B5;
  float: right;
  margin: 29px; }
  .header-right a {
    padding: 0 8px; }
  .header-right .signIn {
    border: 1px solid #0192B5;
    padding: 10px 5px;
    border-radius: 2px; }

.cart {
  background: url(etsy-assets/cart.png) no-repeat;
  display: inline-block;
  height: 32px;
  margin: 0 8px;
  float: right;
  font-size: 12px;
  color: #878787;
  border-left: 1px solid lightgrey; }

.navbar {
  display: block;
  float: left;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  margin-top: -14px; }

.nav {
  padding-left: 5px;
  height: 13px;
  display: inline-block;
  font-size: 10pt;
  color: grey; }

.nav-item {
  display: inline;
  float: left;
  padding: 0 8px; }

.sidebar {
  width: 20%;
  display: inline-block;
  float: left;
  font-size: 9pt;
  padding: 17px; }
  .sidebar span {
    padding-bottom: 9px;
    display: inline-block; }
  .sidebar h3 {
    margin: 0;
    padding: 10px 10px 0 10px;
    font-size: 10pt;
    color: black; }
  .sidebar ul {
    padding: 0 15px 15px 15px;
    margin: 0; }
  .sidebar li {
    line-height: 1.75em; }

.sidebar-top {
  border: 1px solid lightgrey;
  background-color: white;
  color: #0192B5;
  margin-bottom: 15px;
  border-radius: 2px; }

.sidebar-bottom {
  border: 1px solid lightgrey;
  background-color: white;
  color: #0192B5;
  padding: 10px; }
  .sidebar-bottom h3 {
    color: black; }

.container {
  background-color: #FAF9F5; }

.catResults {
  padding-top: 13px;
  display: inline-block;
  font-size: 10pt;
  color: #0192B5; }

.productGrid {
  width: 976px;
  height: 80%;
  display: inline-block;
  float: left; }

.product {
  height: 223.69px;
  width: 222.5px;
  font-size: 9pt;
  margin: 1%;
  float: left;
  overflow: hidden;
  border: .5px solid lightgrey;
  background-color: white;
  border-radius: 3px; }
  .product img {
    width: 222.5px;
    height: 176.69px;
    position: relative;
    z-index: 0; }

.product:hover {
  box-shadow: 0px 0px 2px 0px grey; }
  .product:hover .product:hover, .product:hover .sprite {
    background-image: url(/etsy-assets/hamburger.png);
    display: inline-block;
    z-index: 1000;
    top: 200px;
    right: 200px;
    height: 25px;
    width: 25px; }

.image {
  width: 222.5px;
  height: 176.69px;
  display: block;
  overflow: hidden;
  padding: 0; }

.title {
  display: inline-block;
  padding: 5px;
  width: 222px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left; }

.shop {
  color: #9A9A9A;
  padding: 3px; }

.price {
  display: inline;
  float: right;
  color: #78C042; }

label {
  display: block; }

.imageHover {
  visibility: hidden; }

.carousel {
  display: inline-block;
  margin: 0 25%; }
  .carousel li {
    border: 1px solid lightgrey;
    padding: 5px 10px;
    font-weight: 300;
    background-color: white; }

.keyword {
  font-size: 10pt;
  display: inline-block; }

#number-results {
  font-size: 10pt;
  color: grey; }

#ad-copy {
  display: inline-block;
  margin: 0 25%; }
